<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	
	<typeAliases>
		<typeAlias type="com.wfteamlab.engineering.member.vo.ShopMember" alias="member" />
		<typeAlias type="com.wfteamlab.engineering.qna.vo.QnAContact" alias="qnaContact" />
		<typeAlias type="com.wfteamlab.engineering.product.vo.Product" alias="product" />
	</typeAliases>
	
	<mappers>
	 <mapper resource="mapper/MemberMapper.xml"/>
	 <mapper resource="mapper/QnAMapper.xml"/>
	 <mapper resource="mapper/ProductMapper.xml"/>
	</mappers>
</configuration>
